@import "fonts/fonts.css";

html, body {
  margin: 0;
}

h1 {
  margin: 0;
}

div.menu {
  padding: 10px 20px;
}

div.menu a {
  color: white;
}

ul.toc {
  background: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 0px;

  transition: all 0.5s ease-in-out;
}

ul.toc li a {
  color: navy;
  text-decoration: none;
}

ul.toc.active {
  height: auto;
}

div.guidebook-entry {
  background: #333;
  overflow: hidden;
  min-height: 100vh;
}

div.content {
  background: white;
  border-radius: 0 10px 10px 0;
  width:46vw;
  padding: 2vw;
  margin-bottom: 2vw;
}

div.content blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  background: #ddd;
  margin: 10px 0;
  padding: 0px 15px;
}

div.play {
  background: #efefef;
  position: fixed;
  height: 100vh;
  width: 43vw;
  left: 52vw;
  top: 0vw;
  padding: 20px;
}

div.play.active {
}

div.highlight {
  background: #efefef;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
}

div.highlight ~ button {
  margin-top: 10px;
}

div.highlight pre {
  margin: 0;
}

/* leanpub section styles */

div.content section {
  background: #f8f8f8;
  border: 4px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 10px;
  text-align: justify;
  padding: 10px 20px;
}

section.aside {
}

/* font selection */

body {
  font-family: 'Roboto Slab';
  font-weight: 300;
}

code, pre {
  font-family: 'Source Code Pro';
}

pre {
  font-size: 0.90em;
}

button {
}

/* code highlighting styles */

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
