@import "fonts/fonts.css";

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
}

div.menu {
  position: fixed;
  padding: 8px;
}

div.menu a {
  color: white;
}

div.toc {
  position: absolute;
  display: none;
}

div.guidebook-entry {
  background: linear-gradient(to bottom, #333, #aaa 80%, #ccc);

  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: flex;

  height: 100%;
  overflow: hidden;
}

div.content {
  background: white;
  flex: 1 1;
  -ms-flex: 1 1;

  margin-top: 40px;
  padding: 10px;
  overflow-y: scroll;
}

div.content blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  background: #ddd;
  margin: 10px 0;
  padding: 0px 15px;
}

div.play {
  flex: 1 1;
  -ms-flex: 1 1;

  height: 100%;
  transition: all 1s linear 0s;
  padding: 20px;
}

div.play.active {
}

div.highlight {
  background: #efefef;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  overflow-x: auto;
}

div.highlight ~ button {
  margin-top: 10px;
}

div.highlight pre {
  margin: 0;
}

/* font selection */

body {
  font-family: 'Roboto Slab';
  font-weight: 300;
}

code, pre {
  font-family: 'Source Code Pro';
}

pre {
  font-size: 0.90em;
}

button {
}

