doctype html
html
	head
		title Guidebook Entry
		link(rel="stylesheet", href="codemirror.css")
		link(rel="stylesheet", href="themes/mistakes.css")
		link(rel="stylesheet", href="guidebook.css")

	body
		div.guidebook
			div.menu
				a(href="#" data-action="toc.show") Table of Contents
				a(href="#" data-action="cycle") Cycle Layout

			div.content
				ul.toc
					each entry in entries
						li
							a(href= entry.name)= entry.name

				div.entry!= entry.html

			div.play
				div.loader

		script(src="guidebook.js")
