doctype html
html
	head
		title Guidebook Entry
		link(rel="stylesheet", href="guidebook.css")
		link(rel="stylesheet", href="syntax/default.css")

	body
		div.guidebook-entry
			div.content!= entry.html
			div.play

		script(src="guidebook.js")
