doctype html
html
	head
		title Guidebook Entry
		link(rel="stylesheet", href="guidebook.css")
		link(rel="stylesheet", href="syntax/default.css")

	body
		div.menu
			a(href="#" data-action="toc.show") Table of Contents

		div.toc
			ul
				each entry in entries
					li
						a(href= entry.name)= entry.name

		div.guidebook-entry
			div.content!= entry.html
			div.play

		script(src="guidebook.js")
